* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #aeedfa1d;
}
.container {
  max-width: 1360px;
  width: 100%;
  margin: auto;
}

.search__block {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.search__h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #3a5f62;
  text-align: center;
  margin-top: 44px;
}
.category__search {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.category__filter {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
} /*ФИЛЬТР И КАТЕГОРИИ*/
.button__filter_category {
  background-color: #355fca;
  color: #fff;
  width: 116px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 1;
}
.filter__button__icon {
  position: relative;
}
.input__filter__icon {
  position: absolute;
  right: 2px;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.input__filter__category {
  width: 156px;
  height: 36px;
  margin-left: -5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.search__input__button {
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 26px auto;
}

.input__search {
  max-width: 396px;
  width: 100%;
  height: 46px;
  border-radius: 50px;
  border: 1px solid #9c9c9c;
  background: url(../img/search__icon.svg) no-repeat scroll 30px 12px;
  padding-left: 90px;
}
.search__button {
  max-width: 118px;
  width: 100%;
  height: 44px;
  background: #99e4ea;
  border-radius: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #676767;
  border: none;
}
/*BLOCK__2*/
.dentists {
  max-width: 1360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 58px;
  margin-top: 64px;
}
.dentists__clinic__logo {
  max-width: 874px;
  width: 100%;
  border-right: 1px solid #d1d1d1;
}
.dentists__img__text {
  margin-left: 24px;
}

.photo__dentists__about {
  display: flex;
  margin-top: 52px;
}
.logo__text__p {
  /*BLOCK__2*/
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #898989;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}
.text__star {
  display: flex;
  margin-top: 26px;
}
.text__star__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 8px;
  margin-left: 40px;
}
.dentists__comment__p {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #355fca;
  margin-bottom: 64px;
}
.dentists__comment__p__img {
  margin-left: 10px;
}
.about__dentists {
  margin-left: 40px;
}
.about__dentists__h1 {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
  margin: 16px 0;
}
.about__dentists__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #919191;
  margin-bottom: 14px;
}
.about__dentists__a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #919191;
  text-decoration: none;
  transition: all 0.3s;
}
.about__dentists__a:hover {
  border-bottom: 2px solid #919191;
}
.dentists__location {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.dentists__location__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #909090;
}
.dentists__map {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.dentists__map__icon {
  margin-right: 10px;
}
.dentists__map__a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #909090;
  transition: all 0.3s;
}
.dentists__map__a:hover {
  border-bottom: 2px solid #909090;
}
.dentists__help__choice {
  margin-left: 20px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.cansultation__button {
  max-width: 200px;
  width: 100%;
  height: 44px;
  background: none;
  border-radius: 64px;
  border: 1px solid #000;
  cursor: pointer;
}
.appointment__button {
  max-width: 200px;
  width: 100%;
  height: 44px;
  border-radius: 64px;
  border: none;
  background-color: #99e4ea;
  cursor: pointer;
}

/*appointment*/
.appointment {
  max-width: 480px;
  width: 100%;
  padding: 46px 30px 0 30px;
  text-align: center;
}
.appointment__week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  width: 100%;
}
.button__left__right {
  cursor: pointer;
}
.appointment__links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #bdbdbd;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.appointment__links:hover {
  color: #000;
}
/*busy__button && not__busy__button*/
.appointment__buttons__blocks {
  display: flex;
  max-width: 400px;
  width: 100%;
}
.appointment__buttons {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  padding-top: 10px;
}
.appointment__buttons:last-child {
  border-left: 1.5px solid #acabab;
}
.appointment__buttons__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.not__busy__button {
  width: 60px;
  height: 28px;
  background-color: #5eacf3;
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.busy__button {
  width: 60px;
  height: 28px;
  background-color: #dd5454a1;
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.busy__button:first-child,
.not__busy__button:first-child {
  margin-right: 20px;
}
.blue {
  width: 16px;
  height: 16px;
  background-color: #5eacf3;
  border-radius: 50%;
  margin-right: 5px;
}
.red {
  width: 16px;
  height: 16px;
  background-color: #f76666;
  border-radius: 50%;
  margin-right: 5px;
}
.span__color__blue {
  color: #5eacf3;
}
.span__color__red {
  color: #f76666;
}
.warning__blue {
  margin-right: 50px;
}
.warning__flex {
  display: flex;
}
.warning__blue__red {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.show__more {
  max-width: 202px;
  width: 100%;
  height: 44px;
  background-color: #99e4ea;
  border-radius: 28px;
  margin-top: 22px;
  border: none;
  outline: none;
  cursor: pointer;
}
/*АДАПТИВНАЯ ВЕРСТКА*/
@media (max-width: 1190px) {
  .category__search {
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .dentists {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .appointment {
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
  }
  .dentists__clinic__logo {
    border: none;
  }
  .photo__dentists__about {
    justify-content: center;
  }
  .warning__blue__red {
    justify-content: space-around;
    max-width: 350px;
    margin: 15px 0;
  }
}

@media (max-width: 760px) {
  .photo__dentists__about {
    flex-direction: column;
  }
  .dentists__img__text {
    margin: auto;
  }
  .about__dentists {
    margin: auto;
    text-align: center;
  }
  .appointment__buttons__blocks {
    margin: auto;
  }
  .appointment__week {
    margin: auto;
  }
  .warning__blue__red {
    margin: auto;
  }
  .search__button{
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .category__filter {
    flex-direction: column;
  }
  .filter {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .search__button {
    margin-left: 5px;
  }
  .appointment {
    padding: 0;
    justify-content: center;
  }
  .dentists__help__choice {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .dentists__help__choice{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .cansultation__button{
    margin: 20px 0;
  }
}
@media(max-width:320px){
  .appointment__buttons__blocks{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .appointment__buttons:last-child{
    border: none;
    border-top: 1px solid #d1d1d1;
    padding-top: 50px;
  }
}