*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recording{
    background-image: url(../image/recording--bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.recording__usercard{
    max-width: 468px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 10px;

}